<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Star Printer</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Destination Device</ion-item-divider>

      <ion-item class="dest_device" *ngIf="defaultPrinter?.portName" (click)="printerTypePopup()" lines="none">
        <ul>
          <li>
            <p><strong>Modal Name : </strong>{{defaultPrinter?.modelName}}</p>
          </li>
          <li>
            <p><strong>MacAddress : </strong>{{defaultPrinter?.portName}} ({{defaultPrinter?.macAddress}})</p>
          </li>
          <li>
            <p><strong>Emulation : </strong>{{defaultPrinter?.emulation}}</p>
          </li>
        </ul>
      </ion-item>
      <ion-item *ngIf="!defaultPrinter?.portName" (click)="printerTypePopup()">
        <p>Select a printer... </p>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light"> Printer SMPort StarIO-SDK Sample</ion-item-divider>
    </ion-item-group>

    <ion-item (click)="printRawText()" lines="none">
      <p>Print Raw Text Sample</p>
    </ion-item>
    <ion-item (click)="printRasterReceipt()" lines="none">
      <p>Print Raster Receipt</p>
    </ion-item>
    <ion-item (click)="printFromCamera()" lines="none">
      <p>Print From Camera</p>
    </ion-item>
    <ion-item (click)="printFromLibrary()" lines="none">
      <p>Print From Photo Library</p>
    </ion-item>

    <ion-item-group>
      <ion-item-divider color="light"> Printer ICommandBuilderInterface Sample</ion-item-divider>
    </ion-item-group>

    <ion-item (click)="print()" lines="none">
      <p>Print</p>
    </ion-item>
    <ion-item (click)="printHorizontalTab()" lines="none">
      <p>Print (Horizontal Tabs example 3")</p>
    </ion-item>
    <ion-item (click)="printQRCode()" lines="none">
      <p>Print (QRCode)</p>
    </ion-item>
    <ion-item (click)="appendBitmap()" lines="none">
      <p>Print (appendBitmap command example)</p>
    </ion-item>

    <ion-item-group>
      <ion-item-divider color="light">Printer StarIOextManager Sample</ion-item-divider>
    </ion-item-group>
    <ion-item (click)="showStarIOExtManagerPage()" lines="none">
      <p>Sample</p>
    </ion-item>

    <ion-item-group>
      <ion-item-divider color="light">Cash Drawer</ion-item-divider>
    </ion-item-group>
    <ion-item (click)="openCashDrawer()" lines="none">
      <p>Sample</p>
    </ion-item>

    <ion-item-group>
      <ion-item-divider color="light">Device Status</ion-item-divider>
    </ion-item-group>
    <ion-item (click)="showPrinterStatus()" lines="none">
      <p>Sample</p>
    </ion-item>

  </ion-list>
</ion-content>
