/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: Poppins-Black;
    src: url(assets/fonts/Poppins-Black.ttf);
  }
  @font-face {
    font-family: Poppins-Light;
    src: url(assets/fonts/Poppins-Light.ttf);
  }
  @font-face {
    font-family: Poppins-Regular;
    src: url(assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: Poppins-SemiBold;
    src: url(assets/fonts/Poppins-SemiBold.ttf);
  }
.alert-title {
    font-size: 16px !important;
    text-align: center !important;
    font-family: Poppins-SemiBold;
}
.alert-radio-label {
    font-size: 14px !important;
    padding-inline-start: 40px !important;
    font-family: Poppins-Regular;
}
button.alert-button {
    color: #3dc2ff !important;
}
.alert-radio-icon {
    border-color: #646464 !important;
}
.alert-radio-inner{
    background-color: #3dc2ff !important;
}
[aria-checked=true] .alert-radio-icon{
    border-color: #3dc2ff !important;
}
strong {
    font-weight: 500;
}
ion-toolbar{
    --box-shadow:none;
    box-shadow: none;
}
.header-md::after{
    background-image: none !important;
}
p{
    font-family: Poppins-Regular;
    letter-spacing: 0.8px;
    color: #757575;
}
h1,h2,h3,h4, ion-title,ion-item-divider, ion-list-header, label{
    font-family: Poppins-SemiBold;
    letter-spacing: 0.8px;
}
ion-item-divider{
    color: #5f5f5f;
}
strong{
    font-family: Poppins-SemiBold;
}
ion-title{
    font-size: 18px;
}
ion-item{
    --min-height: 40px;
}